//= require vendor/casper
//= require _syntax

// Overwrite some styles from casper.css
pre.highlight {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}

.vertical {
	background: #A22B19;
}

.read-next {
	background: #A22B19;
}