//= require vendor/casper
//= require _syntax

// Overwrite some styles from casper.css
pre.highlight {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}

body.nav-opened .icon-menu { 
    opacity: 0; 
}

// home page


.main-header.no-cover {
	background-color: white;
}

.vertical {
	background-color: white;
}

.read-next { 
	background-color: #cc3333; 
}

.page-title {
    border-style: double; 
    border-color: #cc3333;
    border-width: 15px;
    padding: 50px 0 50px 0;
    margin: 50px;
}

.menu-button {
    padding: 0 5px;
    border-radius: 0;
    border-width: 0;
    color: #cc3333;
    background: transparent;
    font-family: "Arial", sans-serif
}
.menu-button:hover {

    border-color: transparent;
    background: none;
}

// About me 

.resume {
	display: inline-block; 
	margin: 10%; 
	width: 75%; 
}

//post layout redesign 

.post-title.single-post-page {
    margin-top: 2em;
    margin-bottom: 1em; 
//    text-decoration: underline;
//    text-decoration-color: #cc3333; 
    border: 15px #cc3333 double; 
    padding: 1em; 
}

.main-nav.overlay .menu-button {
    padding: 0 5px;
    border-radius: 0;
    border-width: 0;
    color: black;
    background: transparent;
    font-family: "Arial", sans-serif
}
.main-nav.overlay .menu-button:hover {

    border-color: transparent;
    background: none;
}

#erasure {
    width: 50%; 
    display: inline-block; 
    margin: auto; 
}

.app-button {
    padding: 0 5px;
    border-radius: 0;
    border-width: 0;
    color: black;
    background: transparent;
    font-family: "Arial", sans-serif
}
